<p id="notice"><%= notice %></p>

<h1>Tämänhetkiset vastuut:</h1>

<% if @guardianships.empty? %>
    Kukaan ei ole vastuussa!
<% else %>
    <% @guardianships.each do |g| %>
        <% if g.user.nil? || g.user.name.nil? %>
            <p>Käyttäjä ei tiedossa, vastuu otettu <%= g.created_at %></p>
        <% else %>
            <p><%= g.user.name%>  <%= g.created_at %></p>
        <% end %>
    <% end %>
<% end %>
<br>

<%= link_to 'Liity vastuuseen', new_guardianship_path %>
