<p class="notice"><%= notice %></p>
<p class="alert"><%= alert %></p>

<h1>Tämänhetkiset vastuut:</h1>

<% if @guardianships.empty? %>
    Kukaan ei ole vastuussa!
<% else %>
    <% @guardianships.each do |g| %>
        <p><%= g.user.name %> on vastuussa:
          <% if not g.description_text.nil? %>
              <%= g.description_text %><br>
          <% end %>
          vastuu alkoi
          <%= g.created_at.strftime("%H:%M") %></p>
    <% end %>
<% end %>
<br>
<% if user_signed_in? && @user_guardianship == nil %>
    <%= link_to 'Liity vastuuseen', new_guardianship_path %>
<% end %>
<% if @user_guardianship %>

    <%= text_area(:guardianship, :leave_text) %><br>
    <%= link_to 'Poistu vastuusta', end_guardianship_path(@user_guardianship.id) %>

<% end %>
