<!DOCTYPE html>
<html>
<head>
  <title>Bmur</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<body>
<div class="navibar">
  <%=link_to 'Tämän hetken vastuulliset', guardianships_path %>



</div>


<%= yield %>

</body>
</html>
