<!DOCTYPE html>
<html>
<head>
  <title>Bmur</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<body>
<div class="navibar">
  <%= link_to 'Tämän hetken vastuulliset', guardianships_path %>
  <% if user_signed_in? %>
    <%= link_to 'Log out', destroy_user_session_path, method: :delete %>
  <% else %>
    <%= link_to 'Log in', new_user_session_path %>
  <% end %>
</div>

<%= yield %>

</body>
</html>
